:root {
  --brown: #854d27;
  --orange: #dd7230;
  --yellow: #f4c95d;
  --green: #e7e393;
  --black: #04030f;

  --primary-font-color: rgba(255, 255, 255, 0.75);
  --secondary-font-color: #fde49ae0;
  --secondary-font-darker: rgba(253, 228, 154, 0.7);
}

@font-face {
  font-family: "Bartender";
  src: url("../fonts/Bartender/Bartender.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/Dancing-Script/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Alt";
  src: url("../fonts/Montserrat/MontserratAlternates-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--black);
  font-family: "Bartender";
  color: var(--primary-font-color);
  background-color: var(--black);
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: var(--black);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}

/* Navigation */
.navigation-container-main {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo-section {
  margin-left: 3%;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.logo-section p {
  font-family: "Dancing Script";
  font-size: clamp(32px, 3vw, 4vw);
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2.5px;
  background: -webkit-linear-gradient(var(--yellow), var(--primary-font-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation-section {
  margin-right: 3%;
  width: 38%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}
.navigation-links {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.1px;
  font-size: clamp(15px, 1.1vw, 1.6vw);
  color: var(--primary-font-color);
}

/* Landing Page */
.landing-page-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.landing-page-image-container {
  margin-left: 20%;
  width: 35%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("../images/landing-page-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-page-slogan-section-container {
  line-height: 1.2;
  opacity: 1;
  transform: translate(-30%, -20%);
  color: var(--secondary-font-color);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 6vw;
  -webkit-transform: translate(-30%, -30%);
  -moz-transform: translate(-30%, -20%);
  -ms-transform: translate(-30%, -20%);
  -o-transform: translate(-30%, -20%);
}
.landing-page-slogan-top-container {
  display: flex;
  align-items: flex-end;
}
.landing-page-slogan-text-extra {
  font-family: "Montserrat-Alt";
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-left: 5%;
  font-style: italic;
  text-transform: lowercase;
  padding: 1% 0.65%;
  border-top: 1px solid var(--secondary-font-color);
  border-bottom: 1px solid var(--secondary-font-color);
}

.landing-page-info-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-page-location-container,
.landing-page-service-container {
  margin-left: 60%;
  margin-right: 10%;
  width: 30%;
  height: 15%;
  font-size: 1.2vw;
  letter-spacing: 2px;
  line-height: 1.4;
  text-transform: uppercase;
}

.landing-page-location-container {
  margin-top: 29%;
}

.landing-page-location-street {
  display: flex;
}
.landing-page-location-icon {
  width: 8%;
  margin-right: 2%;
  background-image: url("../icons/location.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.landing-page-location-city,
.landing-page-location-building,
.landing-page-location-phone {
  margin-left: 10%;
}
.landing-page-location-phone {
  color: var(--secondary-font-darker);
}

.landing-page-service-container {
  margin-top: 2%;
}
.landing-page-service-days-container {
  display: flex;
}

.landing-page-service-days-icon {
  width: 8%;
  margin-right: 2%;
  background-image: url("../icons/clock.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing-page-service-days-label {
  color: var(--secondary-font-color);
}
.landing-page-service-days-container:nth-of-type(2) {
  margin-left: 10%;
}

/* About Page */
.about-page-container {
  width: 100%;
}
.about-page-header-section {
  margin-top: 10%;
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-page-header-text {
  margin-top: 15%;
  margin-bottom: 15%;
  text-align: center;
  margin-left: 15%;
  width: 30%;
  color: var(--secondary-font-color);
  font-size: 2vw;
  padding: 2% 5% 2% 5%;
  text-transform: uppercase;
  border-top: 3px solid var(--secondary-font-color);
  border-bottom: 3px solid var(--secondary-font-color);
  letter-spacing: 2px;
  line-height: 1.5;
}

.about-page-header-image {
  height: 70vh;
  width: 45%;
  margin-right: 5%;
  background: url("../images/about-header-image.jpg");
  background-position: center;
  background-size: cover;
}

.about-page-info-section {
  width: 100%;
  height: 85vh;
  margin-top: 8%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-page-info-images-section {
  position: relative;
  margin-left: 5%;
  width: 50%;
  height: 100%;
}
.about-page-info-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.about-page-info-image:nth-of-type(1) {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 70%;
  height: 90%;
  z-index: 5;
  background-image: url("../images/about-section-one.jpg");
}

.about-page-info-image:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 25%;
  width: 50%;
  height: 70%;
  z-index: 6;
  background-image: url("../images/about-section-two.jpg");
}

.about-page-info-image:nth-of-type(3) {
  position: absolute;
  top: 1%;
  left: 15%;
  width: 40%;
  height: 80%;
  background-color: var(--secondary-font-color);
  z-index: 0;
}

.about-page-info-text-section {
  margin-right: 5%;
  width: 40%;
  height: 100%;
  font-family: "Montserrat";
  padding: 13% 4% 0 5%;
  line-height: 1.6;
  text-align: justify;
}

.about-page-info-text-header {
  font-family: "Bartender";
  font-size: 2.2vw;
  letter-spacing: 1.2px;
  color: var(--secondary-font-darker);
  margin-bottom: 2%;
}
.about-page-chef-section {
  margin-top: 8%;
  width: 100%;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-page-chef-image {
  margin-left: 15%;
  width: 30%;
  height: 75%;
  background: url("../images/head-chef.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-page-chef-text {
  margin-right: 8%;
  width: 40%;
  height: 100%;
  padding-top: 8%;
  text-transform: uppercase;
}
.about-page-chef-text-label {
  color: grey;
  font-size: 1.2vw;
  letter-spacing: 1.2px;
}
.about-page-chef-text-name {
  margin-top: 2%;
  font-size: 2.5vw;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.about-page-chef-text-message {
  margin-top: 3%;
  padding-right: 2%;
  font-family: "Montserrat";
  text-transform: capitalize;
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}

/* Menu Page */
.menu-page-container {
  width: 100%;
  height: 105vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("../images/menu-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.menu-page-title {
  padding-top: 5%;
  font-size: 2vw;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-font-darker);
}
.menu-items-container {
  margin: 2% 17.5% 5% 17.5%;
  padding: 1% 2% 1% 2%;
  width: 65%;
  height: 75%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.45);
  scrollbar-width: thin;
  scrollbar-color: var(--black);
}
.menu-items-container::-webkit-scrollbar {
  width: 8px;
}

.menu-items-container::-webkit-scrollbar-track {
  background-color: var(--black);
}

.menu-items-container::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}
.menu-item {
  width: 100%;
  height: 10vh;
  margin-top: 2%;
}
.first-menu-item {
  margin-top: 0;
}

.menu-item-top {
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.menu-item-name {
  text-align: start;
  width: 15%;
}

.menu-item-liner {
  width: 70%;
  border-bottom: 1px dashed var(--secondary-font-color);
}
.menu-item-price {
  text-align: end;
  width: 15%;
}
.menu-item-bottom {
  margin-top: 0.5%;
  font-family: "Montserrat";
  font-size: 0.8vw;
  font-weight: 100;
  font-style: italic;
  line-height: 1.5;
}
.menu-page-specials {
  width: 100%;
  height: 90vh;
  background-color: white;
  color: var(--black);
}
.menu-page-specials-header {
  padding: 3% 0 0 0;
  font-size: 2vw;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}
.menu-page-specials-container {
  margin-top: 3%;
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: space-around;
}
.menu-page-special-container {
  width: 25%;
  height: 100%;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32);
}
.menu-page-special-image {
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.specials-one {
  background-image: url("../images/special-two.jpg");
}
.specials-two {
  background-image: url("../images/special-three.jpg");
}
.specials-three {
  background-image: url("../images/special-one.jpg");
}
.menu-page-special-title {
  padding-left: 2%;
  font-size: 2vw;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 3%;
}
.menu-page-special-description {
  padding-left: 2%;
  font-family: "Montserrat";
  font-size: 1vw;
  margin-top: 2%;
  line-height: 1.5;
  font-weight: 100;
  font-style: italic;
}
.menu-page-special-price {
  padding-left: 2%;
  font-family: "Montserrat";
  font-size: 1.6vw;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-top: 2.5%;
}
/* Brewery */
.brewery-page-container {
  width: 100%;
  height: 100vh;
  background-color: #dd7230;
}
